# --- Discord ---
tokenDiscordPrinc=TON_TOKEN_BOT_DISCORD
clientIdPrinc=TON_CLIENT_ID
guildIdPrinc=TON_GUILD_ID_POUR_TEST

# --- Riot ---
riotAPIKey=RGAPI-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# --- Database ---
DATABASE_URL=postgresql://postgres:password@host:5432/railway

#--- App ---
PORT=3000
NODE_ENV=production
